.newProduct{
    margin-top: 4%;
}
@media (max-width: 800px) {
    .newProduct{
        margin-top: 24%;
    }
}
.tag{
    width: max-content;
}
.services {
    display: flex;
    justify-content: space-between;
  }
  .first-division {
    display: flex;
    flex-direction: column;
    margin: 0 5px 0.5rem 0;
    width: 100%;
  }
  button {
    background: none;
    outline: none;
    cursor: pointer;
    font-weight: 500;
    border-radius: 2px;
    padding: 5px 10px;
  }
  .first-division button {
    align-self: flex-start;
    display: flex;
    align-items: center;
    margin-top: 0.5rem;
    color: rgb(0, 208, 255);
    border: 1px solid rgb(0, 208, 255);
  }
  
  .second-division button {
    color: red;
    border: 1px solid red;
  }
.remove-btn{
  margin-top: 38%;
}